In [1]:
import camelot

In [2]:
# tables = camelot.read_pdf('/Users/belikov/data/jstor/pdfs/carpenter2001.pdf')
tables = camelot.read_pdf('/Users/belikov/data/jstor/pdfs/t1.pdf', flavor='stream')
tables2 = camelot.read_pdf('/Users/belikov/data/jstor/pdfs/t2.pdf', flavor='stream')

In [3]:
tables, tables2

(<TableList n=2>, <TableList n=3>)

In [6]:
t = tables[1]
t.parsing_report
t.df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,"tively identical results. Additionally, firm ...",,,,,,,,the TMT and globalization measurements.,,,,,,,,,
1,,,,,,,TABLE 1,,,,,,,,,,,
2,,,,Descriptive Statistics and Correlationsa,,,,,,,,,,,,,,
3,,Variable,Mean,s.d.,1,2,3,4,5,6,7,8,9,10,11,12,13,14
4,,size,2.42,1.37,,,,,,,,,,,,,,
5,1. Organizational,,,,,,,,,,,,,,,,,
6,2. Return on assets,,0.10,0.09,.01,,,,,,,,,,,,,
7,3. Current ratio,,0.90,0.51,.06,.06,,,,,,,,,,,,
8,4. Free cash flow,,9.57,15.61,-.02,-.01,.01,,,,,,,,,,,
9,5. Diversification,level,0.26,0.24,-.05,-.01,.03,.01,,,,,,,,,,

In [5]:
t = tables2[1]
t.parsing_report
t.df

,0,1,2
0,TABLE 2,,
1,Summary of Results of OLS Fixed-Effects Reg...,for Global Strategic Posturea,
2,Model 1 \nVariable,Model 2 \nModel 3,Model 4
3,Hypothesis,,
4,Main effects,,
5,la \nTMT international,.17** \n.17**,.18 *
6,experience,,
7,lb,.18** \n.19**,.16 *
8,TMT educational heterogeneity,,
9,lc,-.10*,-.07t
10,TMT functional heterogeneity,-.09o,
11,id,.12* \n.13**,.12*
12,TMT firm tenure heterogeneity,,
13,Curvilinear effects,,
14,2a \nTMT international,.01,
15,squared \nexperience,,
16,2b,-.03,
17,squared \nTMT educational heterogeneity,,
18,2c,-.05,
19,TMT functional heterogeneity \nsquared,,
20,2d,-.05,
21,squared \nTMT firm tenure heterogeneity,,
22,Moderated effects,,
23,Environmental uncertainty x,,
24,3a \nTMT international,,.03
25,experience,,
26,3b,,.29*
27,TMT educational heterogeneity,,
28,3c,,-.45*
29,TMT functional heterogeneity,,
30,3d,,-.19*
31,TMT firm tenure heterogeneity,,

In [36]:
t = tables2[2]
t.parsing_report
t.df

                                 0           1   2      3      4      5      6
0                TMT international              3a                         .03
1                                   experience
2                                               3b                        .29*
3   TMT educational  heterogeneity
4                                               3c                       -.45*
5    TMT functional  heterogeneity
6                                               3d                       -.19*
7   TMT firm tenure  heterogeneity
8                         Controls
9                             size                   .07t   .07t   .07t   .07t
10                  Organizational
11               Return on  assets                    .06    .05    .05    .06
12                   Current ratio                   -.06   -.06   -.07   -.07
13                 Free cash  flow                    .02    .03    .03    .03
14         level \nDiversification                   -.05  -.09*  -.09o  -.10t
15                                                   .10*   .10*   .10*
16                   R&D intensity                                         .09
17                        TMT size                  .11**  .14**  .13**  .11**
18                          Period                   .0O9   .09t   .08t    .05
19                                                   .08*   .07t   .07t    .05
20              TMT average tenure
21                    TMT turnover                   .11*    .02    .02    .03
22                                                                        .1lt
23      Environmental  uncertainty
24                                                  .23**  .29**  .29**  .33**
25                    Adjusted  R2
26                                                         .06**    .00  .04 *
27        Change  in  adjusted  R2

In [7]:
tables = camelot.read_pdf('/Users/belikov/data/jstor/pdfs/carpenter2001.pdf', pages='all', flavor='stream')

UserWarning: No tables found in table area 1 [stream.py:346]

In [8]:
tables_true = [t for t in tables if any([w for w in t.df.values.flatten() if 'table' in w.lower()])]

In [9]:
len(tables_true)

8

In [11]:
for t in tables_true:
    print(t.df.head())

                                                   0
0  Top Management Teams, Global Strategic Posture...
1  Author(s): Mason A. Carpenter and James W. Fre...
2  Source: The Academy of Management Journal, Vol...
3                Published by: Academy of Management
4  Stable URL: http://www.jstor.org/stable/3069368 .
                                                   0  \
0                                        a \nbetween
1              verted  U-shaped \nrelationship \ntop
2                team's  firm  tenure  heterogeneity
3                                         management
4  and  the  expansiveness \nof its firm's  globa...

                                         1
0
1
2  are  con- \nTherefore,  upper  echelons
3                              predictions
4                                    teams
                                                   0  \
0  there is reason to expect that such uncertaint...
1  systematically  and  positively  affect the  r...
2    ship between  TMT demographics and global stra-
3  tegic posture. In the  context of this  study,...
4                    gests the following hypotheses:

                                                   1
0  total assets, total sales, and performance (re...
1  assets, return on sales, return on equity, and...
2                                   market returns).
3
4
                                                   0  \
0                                               2001
1                        Carpenter  and  Fredrickson
2    background and other management characteristics
3  are also likely to increase with the level of ...
4  mental uncertainty that they face. Such relian...

                                                   1
0                                                537
1
2  selected because (1) the firms were representa...
3  of major U.S. industrial corporations, (2) det...
4   demographic data on  their  TMTs were  available
                                                   0  \
0                                                538
1                      tion.  The  first  dimension,
2                       foreign  sales,  was  calcu-
3  lated  as the  ratio  of foreign  sales  to to...
4  second  dimension, \nforeign  production,  was...

                                                   1
0               June \nAcademy of Management Journal
1                          this \ndefinition \nteams
2                     Here, \nyielded \nof  approxi-
3                              mately  six  members.
4  To develop  the panels  of TMT demographic  char-
                   0         1     2   \
0
1
2                      Variable  Mean
3                          size  2.42
4  1.  Organizational

                                         3  4  5        6  7  8  9  10 11 12  \
0                                                  TABLE 1
1  Descriptive Statistics and Correlationsa
2                                      s.d.  1  2        3  4  5  6  7  8  9
3                                      1.37
4

   13  14  15  16  17
0
1
2  10  11  12  13  14
3
4
                                                   0  \
0              540 \nAcademy  of Management  Journal
1                                            RESULTS
2
3
4  The  means,  standard deviations,  and  bivariate

                                                   1
0                                               June
1
2  were  significant, as was  the  change in  R2....
3  over,  as  shown \nin  model  2,  the  coeffic...
4
                                                   0  \
0                                               2001
1                        Carpenter  and  Fredrickson
2  ficients were significant, and the main effect...
3  were unchanged from those  reported in  model  2.
4  Similar results  were  obtained when  we  used...

                                                   1
0                                                541
1
2  globalization. We did this by focusing on the ...
3  tionship between the characteristics of top ma...
4

In [49]:
[t.df.shape for t in tables_true]

(19, 18)

In [55]:
tables = camelot.read_pdf('/Users/belikov/data/jstor/pdfs/carpenter2001.pdf', pages='8-9', flavor='stream')

In [56]:
len(tables)

5

In [57]:
tables_true = [t for t in tables if any([w for w in t.df.values.flatten() if 'table' in w.lower()])]

In [58]:
[t.df.shape for t in tables_true]

[(19, 18), (35, 2)]

In [63]:
tables[-2].df

,0,1,2
0,Summary of Results of OLS Fixed-Effects R...,for Global Strategic Posturea,
1,Model 1 \nVariable,Model 2 \nModel 3,Model 4
2,Hypothesis,,
3,Main effects,,
4,la \nTMT international,.17** \n.17**,.18 *
5,experience,,
6,lb,.18** \n.19**,.16 *
7,TMT educational heterogeneity,,
8,lc,-.10*,-.07t
9,TMT functional heterogeneity,-.09o,
10,id,.12* \n.13**,.12*
11,TMT firm tenure heterogeneity,,
12,Curvilinear effects,,
13,2a \nTMT international,.01,
14,squared \nexperience,,
15,2b,-.03,
16,squared \nTMT educational heterogeneity,,
17,2c,-.05,
18,TMT functional heterogeneity \nsquared,,
19,2d,-.05,
20,squared \nTMT firm tenure heterogeneity,,
21,Moderated effects,,
22,Environmental uncertainty x,,
23,3a \nTMT international,,.03
24,experience,,
25,3b,,.29*
26,TMT educational heterogeneity,,
27,3c,,-.45*
28,TMT functional heterogeneity,,
29,3d,,-.19*
30,TMT firm tenure heterogeneity,,